.link {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.8rem;
  line-height: calc(28 / 18);
  cursor: pointer;
  color: $color-primary;
  border: 0.1rem solid transparent;
  border-radius: 0.2rem;

  &:hover {
    border-bottom: 0.1rem solid $color-primary;
  }

  &:active {
    border-bottom: 0.1rem solid $color-shade-2;
  }

  &:focus {
    border: 0.1rem solid $color-neutral-l-grey;
  }

  &--disabled {
    border: none;
    color: $color-neutral-grey-blue;
  }

  &--medium {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
  }

  &--small {
    font-size: 1.4rem;
    line-height: calc(20 / 14);
  }

  &--500 {
    font-weight: 500;
  }

  &--600 {
    font-weight: 600;
  }
}
